div.day {
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: grey;
}

table {
    border-collapse: collapse;
}

td {
    padding: 3px;
}

tr {
    border-top: 1px solid #666666;
}

tr:first-child {
    border-top: 0px;
}

div.day .header {
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

div.day .courses-container {
    border-radius: 5px;
    background-color: white;
    width: 100%;
}

div.day.done table {
    background-color: lightgray;
}

#btn-reload {
    right: 5px;
    top: 5px;
}

#map-dialog {
    position: fixed;
    width: 80%;
    height: 60%;
    left: 10%;
    top: 20%;
    display: none;
}

.empty-cell {
    height: 30px;
}

.event-content {
    height: 100%;
}

#map-dialog>iframe {
    width: 100%;
    height: 100%;
}

.flex-space {
    flex: 1;
}

#menu {
    padding: 10px;
    display: flex;
    border-bottom: solid 1px black;
    margin-bottom: 10px;
}

#menu a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

a[type=section] {
    display: block;
    padding: 1em;
    color: black;
    text-decoration: none;
}

a:hover {
    border-radius: 5px;
    background-color: #eee;
}

td.hour {
    vertical-align: bottom;
    border-right: 1px solid #666666;
}

td.course {
    border-left: 1px solid #666666;
}

td.empty-cell {
    border-left: 1px solid #666666;
}

#calendar-section {
    border: solid red;
}

.page-header {
    margin: 2em;
}

#instagram-stats {
    display: flex;
    justify-content: space-around;
}

.instagram-post {
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 2em;
    margin-bottom: 2em;

    width: 80%;
}

.instagram-post .date {
    font-weight: 600;
}

.instagram-post .description {
    font-size: 0.8em;
}

.instagram-image {   
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-height: 100vh;
}

.instagram-video {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-height: 100vh;
}