
div.day {
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: grey;
}

table {
    border-collapse: collapse;
}

td {
    padding: 3px;
}

tr {
  border-top: 1px solid #666666;
}

tr:first-child {
    border-top: 0px;
}

div.day .header {
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

div.day .courses-container {
    border-radius: 5px;
    background-color: white;
    width: 100%;
}

div.day.done table {
    background-color: lightgray;
}

.progress-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
}

#progress-bar {
    margin: 10px;
    flex: 1;
    height: 2em;
    display: flex;
}

#progress-done {
    background-color: green;
}

#progress-todo {
    background-color: lightgray;
}

#btn-reload {
    right: 5px;
    top: 5px;
}

#map-dialog {
    position: fixed;
    width: 80%;
    height: 60%;
    left: 10%;
    top: 20%;
    display: none;
}

.empty-cell {
    height: 30px;
}

.event-content {
    height:100%;
}

#map-dialog > iframe {
    width: 100%;
    height: 100%;
}

.flex-space {
    flex: 1;
}

#menu {
    padding: 10px;
    display: flex;
    border-bottom: solid 1px black ;
    margin-bottom: 10px;
}

#menu a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

a[type=section] {
    display: block;
    padding: 1em;
    color: black;
    text-decoration: none;
}

a:hover {
    border-radius: 5px;
    background-color: #eee;
}

td.hour {
    vertical-align: bottom;
    border-right: 1px solid #666666;
}

td.course {
    border-left: 1px solid #666666;
}

td.empty-cell {
    border-left: 1px solid #666666;
}


#calendar-section {
    border: solid red;
}



