
div.day {
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: grey;
}

div.day .header {
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

div.day .courses-container {
    border-radius: 5px;
    background-color: whitesmoke;
}

div.day .event {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: solid 1px grey;
}


td.start-hour {
    vertical-align: top;
    padding-right: 4px;
}

td.end-hour {
    vertical-align: bottom;
    padding-right: 4px;
}

.progress-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
}

#progress-bar {
    margin: 10px;
    flex: 1;
    height: 2em;
    display: flex;
}

#progress-done {
    background-color: green;
}

#progress-todo {
    background-color: lightgray;
}

#btn-reload {
    right: 5px;
    top: 5px;
}

#map-dialog {
    position: fixed;
    width: 80%;
    height: 60%;
    left: 10%;
    top: 20%;
    display: none;
}

#map-dialog > iframe {
    width: 100%;
    height: 100%;
}

.flex-space {
    flex: 1;
}

#menu {
    padding: 10px;
    display: flex;
    border-bottom: solid 1px black ;
    margin-bottom: 10px;
}

#menu a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

a[type=section] {
    display: block;
    padding: 1em;
    color: black;
    text-decoration: none;
}

#calendar-section {
    border: solid red;
}


