html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 2px;
}

tr.line-up > td {
    border-top: solid 1px black;
}

tr.line-down > td {
    border-bottom: solid 1px black;
}

tr.pair {
    background-color: #ddddff;
}

tr.odd {
    background-color: #ccccff;
}

td.day {
    text-align: center;
    font-weight: bold;
    background-color: #eeeeee;
}

td.start-hour {
    vertical-align: top;
    padding-right: 4px;
}

td.end-hour {
    vertical-align: bottom;
    padding-right: 4px;
}

tr.done {
    background-color: grey;
}

.progress-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
}

#progress-bar {
    margin: 10px;
    flex: 1;
    height: 2em;
    display: flex;
}

#progress-done {
    background-color: green;
}

#progress-todo {
    background-color: lightgray;
}

#btn-reload {
    position: fixed;
    right: 5px;
    top: 5px;
}

button {
    font-size: 0.7  em;
}

#map-dialog {
    position: fixed;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    display: none;
}

#map-dialog > iframe {
    width: 100%;
    height: 100%;
}